@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #fe8402;
  --primary-shade: #fc9b34;
  --blue-main: #516cf0;
  --blue-shade: #7186ef;
  --header-font: "montserrat";
  --body-text-font: "Poppins";
  --decorative-text:"dancing script" 
}

body {
  background-color: white;
  color: var(--foreground);
}
