@import 'tailwindcss';
:root {
  --primary-color: #fe8402;
  --primary-shade: #fc9b34;
  --blue-main: #516cf0;
  --blue-shade: #7186ef;
  --header-font: "montserrat";
  --body-text-font: "Poppins";
  --decorative-text:"dancing script" 
}


body {

  
  font-family: var(--body-text-font), sans-serif;
}




.background-section {

  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
