@import 'tailwindcss';
:root {
  --primary-color: #fe8402;
  --primary-shade: #fc9b34;
  --blue-main: #516cf0;
  --blue-shade: #7186ef;
  --header-font: "montserrat";
  --body-text-font: "Poppins";
  --decorative-text:"dancing script" 
}

body {
  background-image: url('/evangadi-logo-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;

  color: var(--foreground);
  font-family: var(--body-text-font), sans-serif;
}